:root{
    --bg-teal:#1abc9c;
    --bg-home:#ba4b63;
    --bg-cake:#1ea4b6;
    --bg-circus:#140f0f;
    --bg-joypad:#1c83c1;
    --bg-lock:#0e38b5;
    --bg-sub:#ccb2a3;
    --bg-footer-top:#3a546d;
    --bg-footer-bottom:#2c3e50;
}

.ms_bg_navbar{
    background-color: var(--bg-footer-bottom);
}
/* .contacts{
    background-color: white;
    width: 100%;
    height: 500px; */
/* } */

.ms_btn_green{
    background-color: var(--bg-teal);
    color: white;
}
.ms_img_cover{
    width: 200px;
    object-fit: cover;
}
.ms_line_white{
    width: 60px;
    height: 3.5px;
    display: inline-block;
    border-radius: 20px;
    background-color: white;
}
.ms_line_black{
    width: 60px;
    height: 3.5px;
    display: inline-block;
    border-radius: 20px;
    background-color: black;
}
.start{
    background-color: var(--bg-teal);
}
[class^="col-"]{
    padding-top: 1rem;
}
.about{
    background-color: var(--bg-teal);
    margin-top: 2rem;
}
.px_8{
    padding-left: 7rem;
    padding-right: 7rem;
}
.footer-top{
    background-color: var(--bg-footer-top);
}
.ms_icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.ms_start_boot{
    color: var(--bg-teal);
}
.footer-bottom{
    background-color: var(--bg-footer-bottom);
}
.ms_fs_8{
    font-size: x-small;
}